@use "variables" as *;
@use "mixins" as *;

.product {
  border-top: 1px solid #e6e6e6;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image title"
      "image purchase";

    column-gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include breakpoint-down(lg) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "image"
        "purchase"
        "description";
      max-width: 700px;
      margin: auto;
      row-gap: 1rem;
    }
  }

  &__image {
    background-color: $almost-white;
    grid-area: image;
    width: 100%;
    height: 100%;
  }

  &__purchase {
    grid-area: purchase;
  }

  &__order {
    @include breakpoint-down(sm) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 2rem;
    }
  }

  &__title {
    font-size: 1.625rem;
    grid-area: title;
  }

  &__price {
    font-size: 1.625rem;
    line-height: 58px;
    letter-spacing: -0.9px;
    color: $green;

    @include breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__benefits {
    display: flex;
    flex-wrap: wrap;
    padding: 1.375rem;
    border: 1px solid #e6e6e6;
    border-radius: 7px;

    @include breakpoint-down(lg) {
      justify-content: center;
    }

    @include breakpoint-down(sm) {
      justify-content: flex-start;
    }

    span {
      font-family: Helvetica;
      font-size: 0.9rem;
    }
  }

  &__benefit {
    span:nth-child(2) {
      color: $light-gray;
      padding-right: 5px;
    }
  }

  &__options {
    padding-top: 1rem;
    display: flex;
    column-gap: 95px;

    @include breakpoint-down(sm) {
      flex-direction: column;
      padding-top: 0;
    }
  }

  &__cta {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;

    @include breakpoint-down(sm) {
      margin-top: 25px;
    }
  }
}
